gap = 20px
gap-s = gap / 2
gap-l = gap * 2

xs-screen-max = 543px
sm-screen-min = 544px
sm-screen-max = 767px
md-screen-min = 768px
md-screen-max = 991px
lg-screen-min = 992px
lg-screen-max = 1199px
xl-screen-min = 1200px

background-gray = #F0F0F0

aside-width = 400px