#aside
  background-color navy
  bottom 0
  color: silver
  display flex
  flex-direction column

  .profile
    display flex
    flex-direction column
    justify-content center
    align-items center
    flex 1

    .face
      margin-bottom gap

    h2
      margin-bottom 1.5rem

      a
        color: silver

        &:hover
          color: yellow

    .social-links a
      color silver
      display inline-block
      width gap-l
      height gap-l
      border 2px solid currentColor
      border-radius 50%
      font-size 1.25em
      line-height gap-l - 4px
      text-align center
      -webkit-transition: all 0.2s
      -moz-transition: all 0.2s
      -ms-transition: all 0.2s
      -o-transition: all 0.2s
      transition: all 0.2s

      + a
        margin-left gap-s

      &:hover
        color white
        transform scale(1.25)

  @media (max-width xs-screen-max)
    width auto
    padding-top gap-l

    .lead
      display none

  @media (min-width sm-screen-min)
    position: fixed
    top 0
    left 0
    bottom 0
    z-index 1030
    width aside-width
    padding-bottom 3rem