#content
  padding-top gap-l

  h1,h2
    line-height 1.5

  h1
    font-size 2rem

  h2
    font-size 1.6rem
    line-height 3.2rem
    position relative
    border-bottom 1px solid rgba(0, 0, 0, .1)
    margin-bottom 1.2rem

    &:before
      content ''
      position absolute
      background-color currentColor
      width 0.3em
      height 0.6em
      top 1.1rem
      left -1.5rem

  hr
    margin-top 1.5rem
    margin-bottom 1.5remhr
    border-top 4px solid rgba(0, 0, 0, .4)

  .lead
    background-color background-gray
    border 1px solid gray
    border-radius 4px
    padding 1rem

  @media (min-width sm-screen-min) and (max-width sm-screen-max)
    margin-left aside-width * .7

  @media (min-width md-screen-min) and (max-width md-screen-max)
    margin-left aside-width * .8

  @media (min-width lg-screen-min) and (max-width lg-screen-max)
    margin-left aside-width * .9

  @media (min-width xl-screen-min)
    margin-left aside-width