#footer
  color silver
  font-size 0.8rem
  line-height 1em
  text-align center

  p
    margin-bottom 0.5rem

  a
    color aqua

    &:hover
      color yellow

  @media (max-width xs-screen-max)
    background-color navy
    padding 1rem 0 0.25rem

  @media (min-width sm-screen-min)
    height 4rem
    position: fixed
    left 0
    bottom 0
    width aside-width
    z-index 1050