@import "../node_modules/colors.css/stylus/variables.styl"

@import "core/_variable.styl"
@import "core/_position.styl"

// framework
@import "framework/_body.styl"
@import "framework/_aside.styl"
@import "framework/_content.styl"
@import "framework/_footer.styl"