@import "../node_modules/colors.css/stylus/variables.styl"

.social-links
  a
    font-size 1.5em
    display inline-block

    + a
      margin-left 0.5em

.t-a-c
  tbody td
    text-align center

table.no-border
  td
    border none

.red
  color red